@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
  body[yahoo] .buttonwrapper { background-color: transparent !important; }
  body[yahoo] .button { padding: 0 !important; }
  body[yahoo] .button a { background-color: #9b59b6; padding: 15px 25px !important; }
}

@media only screen and (min-device-width: 601px) {
  .content { width: 600px !important; }
  .col387 { width: 387px !important; }
}
