<div class="page-body">
  <div class="card">
    <!-- Email-card start -->
    <div class="card-block email-card">
      <div class="row">
        <div class="col-lg-12 col-xl-3">
          <div class="user-head row">
            <div class="user-face">
              <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xl-9">
          <div class="mail-box-head row justify-content-end">
            <div class="col-auto">
              <form class="form-material" action="javascript:">
                <div class="material-group">
                  <div class="form-group form-default">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Search</label>
                  </div>
                  <div class="material-addone">
                    <i class="icofont icofont-search"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Left-side section start -->
        <div class="col-lg-12 col-xl-3">
          <div class="user-body">
            <div class="p-20 text-center">
              <a [routerLink]="['/email/email-compose/']" class="btn btn-danger waves-effect">Compose</a>
            </div>
            <ul class="page-list nav nav-tabs flex-column">
              <li class="nav-item mail-section">
                <a class="nav-link waves-effect  d-block" [routerLink]="['/email/email-inbox/']">
                  <i class="icofont icofont-inbox"></i> Inbox
                  <span class="label label-primary float-right">6</span>
                </a>
              </li>
              <li class="nav-item mail-section">
                <a class="nav-link waves-effect  d-block" [routerLink]="['/email/email-inbox/']">
                  <i class="icofont icofont-star"></i> Starred
                </a>
              </li>
              <li class="nav-item mail-section">
                <a class="nav-link waves-effect  d-block" [routerLink]="['/email/email-inbox/']">
                  <i class="icofont icofont-file-text"></i> Drafts
                </a>
              </li>
              <li class="nav-item mail-section">
                <a class="nav-link waves-effect  d-block" [routerLink]="['/email/email-inbox/']">
                  <i class="icofont icofont-paper-plane"></i> Sent Mail
                </a>
              </li>
              <li class="nav-item mail-section">
                <a class="nav-link waves-effect  d-block" [routerLink]="['/email/email-inbox/']">
                  <i class="icofont icofont-ui-delete"></i> Trash
                  <span class="label label-info float-right">30</span>
                </a>
              </li>
            </ul>
            <ul class="p-20 label-list">
              <li>
                <h5>Labels</h5>
              </li>
              <li>
                <a class="mail-work" href="javascript:">Work</a>
              </li>
              <li>
                <a class="mail-design" href="javascript:">Design</a>
              </li>
              <li>
                <a class="mail-family" href="javascript:">Family</a>
              </li>
              <li>
                <a class="mail-friends" href="javascript:">Friends</a>
              </li>
              <li>
                <a class="mail-office" href="javascript:">Office</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Left-side section end -->
        <!-- Right-side section start -->
        <div class="col-lg-12 col-xl-9">
          <div class="mail-body">
            <div class="mail-body-content email-read">
              <div class="card">
                <div class="card-header">
                  <h5>Here You Have New Opportunity...</h5>
                  <h6 class="float-right">08:23 AM</h6>
                </div>
                <div class="card-block">
                  <div class="media m-b-20">
                    <div class="media-left photo-table">
                      <a href="javascript:">
                        <img class="media-object img-radius" src="assets/images/avatar-3.jpg" alt="E-mail User">
                      </a>
                    </div>
                    <div class="media-body photo-contant">
                      <a href="javascript:">
                        <h6 class="user-name txt-primary">John Doe</h6>
                      </a>
                      <a class="user-mail txt-muted" href="javascript:">
                        <h6>From:johndoe1543@gmail.com</h6>
                      </a>
                      <div>
                        <h6 class="email-welcome-txt">Hello Dear...</h6>
                        <p class="email-content">
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                        </p>
                      </div>
                      <div class="m-t-15">
                        <i class="icofont icofont-clip f-20 m-r-10"></i>Attachments <b>(3)</b>
                        <div class="row mail-img m-b-20">
                          <div class="col-sm-4 col-md-2 col-xs-12">
                            <a href="javascript:"><img class="card-img-top img-fluid img-thumbnail" src="assets/images/card-block/card1.jpg" alt="Card image cap"></a>
                          </div>
                          <div class="col-sm-4 col-md-2 col-xs-12">
                            <a href="javascript:"><img class="card-img-top img-fluid img-thumbnail" src="assets/images/card-block/card2.jpg" alt="Card image cap"></a>
                          </div>
                          <div class="col-sm-4 col-md-2 col-xs-12">
                            <a href="javascript:"><img class="card-img-top img-fluid img-thumbnail" src="assets/images/card-block/card13.jpg" alt="Card image cap"></a>
                          </div>
                        </div>
                        <form class="form-material" action="javascript:">
                          <div class="form-group form-primary">
                            <textarea class="form-control" id="exampleTextarea-1" required=""></textarea>
                            <span class="form-bar"></span>
                            <label class="float-label">Reply Your Thoughts</label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right-side section end -->
      </div>
    </div>
    <!-- Email-card end -->

  </div>
</div>
