<div class="page-body">
  <div class="row">
    <!-- Grid Options card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Grid Options</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>While Bootstrap uses <code class="highlighter-rouge">em</code>s or <code class="highlighter-rouge">rem</code>s for defining most sizes, <code class="highlighter-rouge">px</code>s are used for grid
            breakpoints and container widths. This is because the viewport width is in pixels and does not change with the <a href="https://drafts.csswg.org/mediaqueries-3/#units" target="_blank">font size</a>.</p>
          <p>See how aspects of the Bootstrap grid system work across multiple devices with a handy table.</p>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th></th>
                <th class="text-center">
                  Extra small
                  <br>
                  <small>&lt;576px</small>
                </th>
                <th class="text-center">
                  Small
                  <br>
                  <small>≥576px</small>
                </th>
                <th class="text-center">
                  Medium
                  <br>
                  <small>≥768px</small>
                </th>
                <th class="text-center">
                  Large
                  <br>
                  <small>≥992px</small>
                </th>
                <th class="text-center">
                  Extra large
                  <br>
                  <small>≥1200px</small>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th class="text-nowrap" scope="row">Grid behavior</th>
                <td>Horizontal at all times</td>
                <td colspan="4">Collapsed to start, horizontal above breakpoints</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Max container width</th>
                <td>None (auto)</td>
                <td>540px</td>
                <td>720px</td>
                <td>960px</td>
                <td>1140px</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Class prefix</th>
                <td><code>.col-</code></td>
                <td><code>.col-sm-</code></td>
                <td><code>.col-md-</code></td>
                <td><code>.col-lg-</code></td>
                <td><code>.col-xl-</code></td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row"># of columns</th>
                <td colspan="5">12</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Gutter width</th>
                <td colspan="5">30px (15px on each side of a column)</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Nestable</th>
                <td colspan="5">Yes</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Offsets</th>
                <td colspan="5">Yes</td>
              </tr>
              <tr>
                <th class="text-nowrap" scope="row">Column ordering</th>
                <td colspan="5">Yes</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid Options card end -->

    <!-- Stacked to Horizontal card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Stacked to Horizontal</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before
            becoming horizontal on desktop (medium) devices. Place grid columns within any <code>.row</code>.</p>
          <div class="bs-example grid-layout">
            <div class="row m-b-20">
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
              <div class="col-md-1">
                <span>col-md-1</span>
              </div>
            </div>
            <div class="row m-b-20">
              <div class="col-md-8">
                <span>col-md-8</span>
              </div>
              <div class="col-md-4">
                <span>col-md-4</span>
              </div>
            </div>
            <div class="row m-b-20">
              <div class="col-md-4">
                <span>col-md-4</span>
              </div>
              <div class="col-md-4">
                <span>col-md-4</span>
              </div>
              <div class="col-md-4">
                <span>col-md-4</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>col-md-6</span>
              </div>
              <div class="col-md-6">
                <span>col-md-6</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Stacked to Horizontal card end -->

    <!-- Mobile And Desktop card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Mobile And Desktop</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>Don’t want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding <code>.col-xs-*</code> and <code>.col-md-*</code> to your columns. See the
            example below for a better idea of how it all works.</p>
          <div class="bs-example grid-layout">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row m-b-20">
              <div class="col col-md-8">
                <span>.col .col-md-8</span>
              </div>
              <div class="col-6 col-md-4">
                <span>.col-6 .col-md-4</span>
              </div>
            </div>
            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row m-b-20">
              <div class="col-6 col-md-4">
                <span>.col-6 .col-md-4</span>
              </div>
              <div class="col-6 col-md-4">
                <span>.col-6 .col-md-4</span>
              </div>
              <div class="col-6 col-md-4">
                <span>.col-6 .col-md-4</span>
              </div>
            </div>
            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row">
              <div class="col-6"><span>.col-6</span></div>
              <div class="col-6"><span>.col-6</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile And Desktop card end -->

    <!-- Vertical Alignment card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Vertical Alignment</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>

        </div>
        <div class="card-block">
          <p>Don’t want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding <code>.col-xs-*</code> and <code>.col-md-*</code> to your columns. See the
            example below for a better idea of how it all works.</p>
          <div class="bs-example grid-layout vertical-alignment">
            <div class="row align-items-start">
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
            </div>
            <div class="row align-items-center m-t-20">
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
            </div>
            <div class="row align-items-end m-t-10">
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
              <div class="col">
                <span>One of three columns</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Vertical Alignment card end -->

    <!-- Offsetting Column card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Offsetting Column</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>Move columns to the right using <code class="highlighter-rouge">.*-auto</code> classes. These classes increase the left margin of a column by <code class="highlighter-rouge">*</code> columns. For
            example, <code class="highlighter-rouge">.ml-auto</code> moves <code class="highlighter-rouge">.col-md-4</code> over four columns.</p>
          <div class="bs-example grid-layout">
            <div class="row m-b-20">
              <div class="col-md-4">
                <span>.col-md-4</span>
              </div>
              <div class="col-md-4 ml-auto">
                <span>.col-md-4 .ml-auto</span>
              </div>
            </div>
            <div class="row m-b-20">
              <div class="col-md-3 ml-md-auto">
                <span>.col-md-3 .ml-md-auto</span>
              </div>
              <div class="col-md-3 ml-md-auto">
                <span>.col-md-3 .ml-md-auto</span>
              </div>
            </div>
            <div class="row m-b-20">
              <div class="col-md-6 m-auto">
                <span>.col-md-6 . m-auto</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Offsetting Column card end -->

    <!-- Push and pull card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Push And Pull</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>Easily change the order of our built-in grid columns with <code class="highlighter-rouge">.push-md-*</code> and <code class="highlighter-rouge">.pull-md-*</code> modifier classes.</p>
          <div class="bs-example grid-layout">
            <div class="row">
              <div class="col-md-9 push-md-3">
                <span>.col-md-9 .push-md-3</span>
              </div>
              <div class="col-md-3 pull-md-9">
                <span>.col-md-3 .pull-md-9</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Push and pull card end -->

    <!-- Nesting card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Nesting</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>To nest your content with the default grid, add a new <code class="highlighter-rouge">.row</code> and set of <code class="highlighter-rouge">.col-sm-*</code> columns within an existing <code class="highlighter-rouge">.col-sm-*</code>                                                            column. Nested rows should include a set of columns that add up to 12 or fewer (it is not required that you use all 12 available columns).</p>
          <div class="bs-example grid-layout">
            <div class="row">
              <div class="col-sm-9">
                <span>Level 1: .col-9</span>
                <div class="row">
                  <div class="col-sm-6 m-t-10">
                    <span>Level 2: .col-sm-8</span>
                  </div>
                  <div class="col-sm-6 m-t-10">
                    <span>Level 2: .col-sm-4</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Nesting card end -->

    <!-- Flex Order card start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Flex Order</h5>
          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-block">
          <p>Use flexbox utilities for controlling the <strong>visual order</strong> of your content.</p>
          <div class="bs-example grid-layout">
            <div class="row">
              <div class="col">
                <span>First, but unordered</span>
              </div>
              <div class="col order-12">
                <span>Second, but last</span>
              </div>
              <div class="col order-1">
                <span>Third, but first</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Flex Order card start -->
  </div>
</div>
