<div class="page-body">
  <div class="row">
    <div class="col-sm-6">
      <app-card [title]="'Basic Tree View'">
        <app-tree-basic></app-tree-basic>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Customize Actions'">
        <app-tree-action></app-tree-action>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Tri-State Checkboxes'">
        <app-tree-checkbox></app-tree-checkbox>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Tree View with Async Data'">
        <app-tree-async></app-tree-async>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Filter Data'">
        <app-tree-filter></app-tree-filter>
      </app-card>
    </div>
    <div class="col-sm-6">
      <app-card [title]="'Node Drag & Drop'">
        <app-tree-dnd></app-tree-dnd>
      </app-card>
    </div>
  </div>
</div>
