<div class="page-body">
  <div class="row">

    <!-- task, page, download counter  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-purple">$30200</h4>
              <h6 class="text-muted m-b-0">All Earnings</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-bar-chart f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-purple">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-line-chart text-white f-16"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">290+</h4>
              <h6 class="text-muted m-b-0">Page Views</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-file-text-o f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-green">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-line-chart text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">145</h4>
              <h6 class="text-muted m-b-0">Task Completed</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-calendar-check-o f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-red">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-line-chart text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Downloads</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-hand-o-down f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-blue">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-line-chart text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- task, page, download counter  end -->

    <!-- customar project  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fa fa-book f-30 text-c-purple"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Tickets Answered</h6>
              <h2 class="m-b-0">379</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fa fa-rocket f-30 text-c-green"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Projects Launched</h6>
              <h2 class="m-b-0">205</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fa fa-user f-30 text-c-red"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Happy Customers</h6>
              <h2 class="m-b-0">5984</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fa fa-lightbulb-o f-30 text-c-blue"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Unique Innovation</h6>
              <h2 class="m-b-0">325</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- customar project  end -->

    <!-- social download  start -->
    <div class="col-xl-4 col-md-6">
      <div class="card social-card bg-behance">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="fa fa-behance f-34 text-behance social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Behance</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon ripple"><i class="fa fa-download"></i></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card social-card bg-dribbble">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="fa fa-dribbble f-34 text-dribbble social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Dribbble</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon ripple"><i class="fa fa-download"></i></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card social-card bg-dropbox">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="fa fa-dropbox f-34 text-dropbox social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Dropbox</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon ripple"><i class="fa fa-download"></i></a>
      </div>
    </div>
    <!-- social download  end -->

    <!-- social user  start -->
    <div class="col-xl-4 col-md-6">
      <div class="card social-user o-hidden">
        <div class="card-header">
          <h5>Selena Vani <span class="text-muted d-inline-block m-l-5">@selenav</span></h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
            </div>
            <div class="col">
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
          <i class="fa fa-twitter text-twitter bg-icon"></i>
        </div>
        <div class="card-footer bg-primary text-center p-0">
          <div class="row m-l-0 m-r-0">
            <a href="javascript:" class="col p-t-10 p-b-10 text-white ripple light"><i class="fa fa-retweet m-r-10" ></i>tweet</a>
            <a href="javascript:" class="col p-t-10 p-b-10 text-white bg-twitter ripple light"><i class="fa fa-twitter m-r-10"></i>share</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card social-user o-hidden">
        <div class="card-header">
          <h5>Selena Vani <span class="text-muted d-inline-block m-l-5">@selenav</span></h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
            </div>
            <div class="col">
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
          <i class="fa fa-facebook text-facebook bg-icon"></i>
        </div>
        <div class="card-footer bg-primary text-center p-0">
          <div class="row m-l-0 m-r-0">
            <a href="javascript:" class="col p-t-10 p-b-10 text-white ripple light"><i class="fa fa-thumbs-up m-r-10" ></i>Like</a>
            <a href="javascript:" class="col p-t-10 p-b-10 text-white bg-facebook ripple light"><i class="fa fa-facebook m-r-10"></i>share</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card social-user o-hidden">
        <div class="card-header">
          <h5>Selena Vani <span class="text-muted d-inline-block m-l-5">@selenav</span></h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
            </div>
            <div class="col">
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
          <i class="fa fa-google-plus text-googleplus bg-icon"></i>
        </div>
        <div class="card-footer bg-primary text-center p-0">
          <div class="row m-l-0 m-r-0">
            <a href="javascript:" class="col p-t-10 p-b-10 text-white ripple light"><i class="fa fa-comment-o m-r-10" ></i>Comment</a>
            <a href="javascript:" class="col p-t-10 p-b-10 text-white bg-googleplus ripple light"><i class="fa fa-google-plus m-r-10"></i>share</a>
          </div>
        </div>
      </div>
    </div>
    <!-- social user  end -->

    <!-- statustic with progressbar  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-user f-20 m-b-10"></i>
              <h6 class="text-muted">Visitors</h6>
            </div>
            <div class="col text-right">
              <h5 class="text-c-blue">6035</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-blue" style="width:90%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-file-text f-20 m-b-10"></i>
              <h6 class="text-muted">Invoices</h6>
            </div>
            <div class="col text-right">
              <h5 class="text-c-blue">19</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-blue" style="width:19%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-bug f-20 m-b-10"></i>
              <h6 class="text-muted">Issues</h6>
            </div>
            <div class="col text-right">
              <h5 class="text-c-blue">63</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-blue" style="width:63%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-folder-open f-20 m-b-10"></i>
              <h6 class="text-muted">New Projects</h6>
            </div>
            <div class="col text-right">
              <h5 class="text-c-blue">25</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-blue" style="width:25%"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- statustic with progressbar  end -->

    <!-- order-visitor start -->
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Total Subscription</h6>
          <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>7652</h4>
          <p class="m-b-0">48% From Last 24 Hours</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Order Status</h6>
          <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>6325</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Unique Visitors</h6>
          <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>652</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Monthly Earnings</h6>
          <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>5963</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <!-- order-visitor end -->

    <!-- product start -->
    <div class="col-xl-3 col-md-6">
      <div class="card text-center bg-c-purple text-white">
        <div class="card-block">
          <img src="assets/images/widget/prod1.jpg" alt="prodimg" class="img-fluid img-80 img-radius">
          <h5 class="m-b-15 m-t-15">50% Off</h5>
          <h6 class="m-b-0">on apple watch</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center bg-c-green text-white">
        <div class="card-block">
          <img src="assets/images/widget/prod2.jpg" alt="prodimg" class="img-fluid img-80 img-radius">
          <h5 class="m-b-15 m-t-15">20% Off</h5>
          <h6 class="m-b-0">on canon printer</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center bg-c-blue text-white">
        <div class="card-block">
          <img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-80 img-radius">
          <h5 class="m-b-15 m-t-15">40% Off</h5>
          <h6 class="m-b-0">apple macbook</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center bg-c-red text-white">
        <div class="card-block">
          <img src="assets/images/widget/prod4.jpg" alt="prodimg" class="img-fluid img-80 img-radius">
          <h5 class="m-b-15 m-t-15">50% Off</h5>
          <h6 class="m-b-0">on any game</h6>
        </div>
      </div>
    </div>
    <!-- product end -->

    <!-- user start -->
    <div class="col-xl-6 col-md-12">
      <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
          <div class="col-sm-4 bg-c-purple user-profile">
            <div class="card-block text-center text-white">
              <div class="m-b-25">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6>Jeny William</h6>
              <p>Web Designer</p>
              <i class="fa fa-pencil-square-o m-t-10 f-16"></i>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-block text-muted">
              <h6 class="m-b-20">Information</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-15">Email</p>
                  <h6>jenyw@gmail.com</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-15">Phone</p>
                  <h6>0023-333-526136</h6>
                </div>
              </div>
              <h6 class="m-b-20 m-t-30">Projects</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-15">Recent</p>
                  <h6>Guruable Admin</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-15">Most Viewed</p>
                  <h6>Mega Able Admin</h6>
                </div>
              </div>
              <h6 class="m-b-15 m-t-20">Social</h6>
              <ul class="social-link list-unstyled">
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook-square facebook" aria-hidden="true"></i></a></li>
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter-square twitter" aria-hidden="true"></i></a></li>
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a></li>
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="youtube"><i class="fa fa-youtube-play youtube" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card user-card">
        <div class="card-block text-center">
          <div class="usre-image">
            <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
          </div>
          <h6 class="m-t-25 m-b-10">John Deo</h6>
          <p class="text-muted">Web Designer</p>
          <a href="javascript:" class="text-c-red d-block">websitename.com</a>
          <button class="btn btn-primary d-block ripple light">View Profile</button>
          <div class="row justify-content-center user-social-link m-b-15">
            <div class="col-auto"><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa fa-facebook text-facebook f-20"></i></a></div>
            <div class="col-auto"><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="twitter"><i class="fa fa-twitter text-twitter f-20"></i></a></div>
            <div class="col-auto"><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="dribbble"><i class="fa fa-dribbble text-dribbble f-20"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card user-card2">
        <div class="card-block text-center">
          <h6 class="m-b-15">Project Risk</h6>
          <div class="risk-rate">
            <span><b>5</b></span>
          </div>
          <h6 class="m-b-10 m-t-10">Balanced</h6>
          <a href="javascript:" class="text-c-blue b-b-primary">Change Your Risk</a>
          <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
            <div class="col m-t-15 b-r-default">
              <h6 class="text-muted">Nr</h6>
              <h6>AWS 2455</h6>
            </div>
            <div class="col m-t-15">
              <h6 class="text-muted">Created</h6>
              <h6>30th Sep</h6>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block ripple light">Download Overall Report</button>
      </div>
    </div>
    <!-- user end -->

    <!-- whather user start -->
    <div class="col-xl-3 col-md-6">
      <div class="card wather-card">
        <div class="nature-card">
          <img src="assets/images/widget/wathernature.png" alt="whether image" class="img-fluid main-img">
          <img src="assets/images/widget/watherstar1.png" alt="whether image" class="snow1">
          <img src="assets/images/widget/watherstar2.png" alt="whether image" class="snow2">
          <img src="assets/images/widget/watherbottom.png" alt="whether image" class="bottom-img">
          <div class="nature-cont text-white">
            <h6>Snow</h6>
            <h2>-10°</h2>
            <h6>10:20 AM</h6>
          </div>
        </div>
        <div class="card-block">
          <div class="row text-c-blue">
            <div class="col">
              <h6>Sunday</h6></div>
            <div class="col text-right">-10°<i class="fa fa-snowflake-o m-l-20"></i></div>
          </div>
          <div class="row m-t-15">
            <div class="col">
              <h6>Monday</h6></div>
            <div class="col text-right">8°<i class="fa fa-cloud m-l-20"></i></div>
          </div>
          <div class="row m-t-15">
            <div class="col">
              <h6>Tuesday</h6></div>
            <div class="col text-right">20°<i class="fa fa-sun-o m-l-20"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card wather-card-2">
        <div class="nature-card">
          <img src="assets/images/widget/wather2m.png" alt="whether image" class="mountain">
          <img src="assets/images/widget/wather2star1.png" alt="whether image" class="snow1">
          <img src="assets/images/widget/wather2star2.png" alt="whether image" class="snow2">
          <img src="assets/images/widget/wather2bottom.png" alt="whether image" class="bottom-img">
          <span class="sun"></span>
          <div class="nature-cont text-white">
            <h6>LA, America</h6>
            <h2>16°</h2>
          </div>
        </div>
        <div class="card-block">
          <div class="row text-c-blue">
            <div class="col">
              <h6>Sunday</h6></div>
            <div class="col text-right">20°<i class="fa fa-sun-o m-l-20"></i></div>
          </div>
          <div class="row m-t-15">
            <div class="col">
              <h6>Monday</h6></div>
            <div class="col text-right">-10°<i class="fa fa-snowflake-o m-l-20"></i></div>
          </div>
          <div class="row m-t-15">
            <div class="col">
              <h6>Tuesday</h6></div>
            <div class="col text-right">8°<i class="fa fa-cloud m-l-20"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card office-card">
        <div class="card-header">
          <h5>Office Group</h5>
        </div>
        <div class="card-block">
          <h6 class="text-center">Files in the Session</h6>
          <div class="row align-items-center m-b-30">
            <div class="col-auto">
              <i class="fa fa-file-pdf-o text-c-red f-30"></i>
            </div>
            <div class="col p-l-0">
              <p class="m-b-10">File.pdf <small class="text-muted">2m 32s</small><i class="fa fa-times close"></i></p>
              <div class="progress">
                <div class="progress-bar" style="width:65%"></div>
              </div>
            </div>
          </div>
          <div class="row align-items-center m-b-30">
            <div class="col-auto">
              <i class="fa fa-file-word-o text-c-blue f-30"></i>
            </div>
            <div class="col p-l-0">
              <p class="m-b-10">File.doc <small class="text-muted">1m 15s</small><i class="fa fa-times close"></i></p>
              <div class="progress">
                <div class="progress-bar" style="width:80%"></div>
              </div>
            </div>
          </div>
          <div class="row align-items-center m-b-30">
            <div class="col-auto">
              <i class="fa fa-file-excel-o text-c-green f-30"></i>
            </div>
            <div class="col p-l-0">
              <p class="m-b-10">File.xls <small class="text-muted">10m 32s</small><i class="fa fa-times close"></i></p>
              <div class="progress">
                <div class="progress-bar" style="width:30%"></div>
              </div>
            </div>
          </div>
          <i class="fa fa-download text-center d-block"></i>
        </div>
        <div class="card-footer bg-c-purple text-center ripple light">
          <a href="javascript:" class="text-white"> Drag and Drop files here<span class="d-block"> or Browse</span></a>
        </div>
      </div>
    </div>
    <!-- whather user end -->
  </div>
</div>
